<!DOCTYPE html>
<html>
<head>
    <title>武汉精诚文化传播有限公司</title>
</head>
<body>
<div>hello world!</div>

<form action="upload" id="imageFile"  method="POST" enctype="multipart/form-data">
    <input type="file" name="imageFile" />
    <input type="submit" value="开始上传" />
</form>

<script></script>
<script>

    var file = document.getElementById('imageFile');

</script>

</body>
</html>